.searchContainer {
    margin-left: 15px;
    margin-right: 25px;
    margin-top: 10px;
    border-right: 1px solid lightgray;
    height: 100%;
    padding-right: 10px;
}
.searchlabel {
    padding-bottom: 10px;
}
.cardData {
    margin-left: 25px;
    margin-right: 25px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 25px;
}
.userID {
    padding-left: 5px;
}
.description {
    padding-top: 20px;
    padding-bottom: 20px;
}
.tweetContainer {
    width:65%;
}
.image {
    margin-top: 15px;
}
.profileContainer {
    width:50%;
    margin-left: 20px;
    margin-right: 20px;
}
.userName {
    padding-top: 10px;
}

.loading {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .tweetContainer {
        width:100%;
    }
    .profileContainer {
       display: none;
    }
}